<router-outlet></router-outlet>
<app-nav-bar></app-nav-bar>
<app-hero-section></app-hero-section>
<section id="books" class="align-items-center">
  <div class="h4 text-center"><p>Most popular books</p></div>
  <div class="row container-fluid">
    <app-card></app-card>
  </div>
</section>

<section id="authors" class="align-items-center">
  <div class="h4 text-center"><p>Most popular authors</p></div>
  <div class="row container-fluid">
    <app-card></app-card>
  </div>
</section>

<section id="members" class="align-items-center">
  <div class="h4 text-center"><p>Most popular members</p></div>
  <div class="row container-fluid">
    <app-card></app-card>
  </div>
</section>

