<!-- ======= Header ======= -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="index.html">Digital Library <i class="fa fa-book"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="unorderedList">
        <li class="nav-item">
          <a class="nav-link list-group-item-action" routerLink="/books-menu.component.html">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link list-group-item-action" routerLink="/cards" target="_blank">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link list-group-item-action" routerLink="/cards">Members</a>
        </li>
      </ul>
      <form>
        <button class="btn btn-primary btn-link text-decoration-none" type="submit"><a href="#">Log in</a>
        </button>
        <button class="btn btn-outline-success btn-link text-decoration-none" type="submit"><a href="#">Sign
          up</a></button>
      </form>
    </div>
  </div>
</nav>
<!-- End Header -->
